.title {
  font-family: IntelOne Display;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.cards {
  display: grid;
  gap: 16px;
  width: 100%;
  margin-top: 64px;
  grid-template-columns: 1fr 1fr;
}
